<mat-toolbar color="primary">
    <button mat-icon-button color="white" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="container" style="height: inherit;">
        <img class="responsive-img" style="height: inherit;" src="../../assets/flying-eagle-white.svg" alt="Image">
    </div>
    <span class="spacer"></span>
    <button mat-button>Home</button>
    <button mat-button>About</button>
    <button mat-button>Contact</button>
</mat-toolbar>
  
